<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <input [(ngModel)]="ciudad" type="text" class="form-control" placeholder="Ingrese ciudad">
            <br>
            <button (click)="mClima" class="btn btn-primary btn-block">Aceptar</button>
            <br>
            <br>
            <div class="card-header">Clima actual</div>
            <div class="card-body">
                <p class="card-text"> <b>Temperatura: {{temperatura}}°C</b></p>              
            </div>
        </div>
    </div>
</div>
 